
:root {
  --light: white;
  --primary: #1CB0F6;
}

#page {
  padding: 0 40px;
  display: flex;
  justify-content: center; 
}

@media (max-width: 980px) {
  #page {
    padding: 0;
  }

  #profile, #skills {
    border-radius: 0 !important;
    margin: 10px 0 80px 0!important;
  }

  #skills {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center;
  }

  nav {
    padding: 25px 20px 15px 20px !important; 
  }

  nav .link {
    color: var(--primary) !important;
  }

  .background-color { 
    background: var(--light) !important
  }
}

@media (max-width: 905px) {
  #profile {
    flex-direction: column-reverse;
    align-items: center;
  }

  #profile img {
    height: 700px !important; 
  }

  #profile .description {
    margin-bottom: 30px;
  }
}

@media (max-width: 778px) {
  #profile img {
    height: 600px !important; 
    width: 600px;
  }
}

@media (max-width: 660px) {
  #profile img {
    height: 500px !important; 
    width: 500px;
  }
}

@media (max-width: 540px) {
  #profile img {
    height: 400px !important; 
    width: 400px;
  }

  nav .link {
    font-size: 15px !important;
  }

  nav .link:nth-child(1) {
    font-size: 25px !important;
  }

  #skills .logos {
    width: 100% !important;
  }
}

@media (max-width: 445px) {
  #profile img {
    height: 300px !important; 
    width: 300px;
  }

  #skills .description h1 {
    font-size: 40px !important;
  }
}

@media (max-width: 330px) {
  nav .link {
    font-size: 10px !important;
  }

  nav .link:nth-child(1) {
    font-size: 20px !important;
  }
}

 @mixin introduction-card {
  margin: 40px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
  background: var(--light);
 }

 @mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.background-color {
  height: 352.5px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: var(--primary);
}

html {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-image: url('../assets/img/javascript-ecosystem.png');
}

