
:root {
  --light: white;
  --primary: #1CB0F6;
}

#page {
  padding: 0 40px;
  display: flex;
  justify-content: center; 
}

 @mixin introduction-card {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
  background: var(--light);
 }

 @mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.background-color {
  height: 352.5px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: var(--primary);
}

html {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

