
.websites #skills {

  .description ul li {

    span { 
      font-weight: bold;
    }

    &:nth-child(1) span {
      color: #00d8ff;
    }

    &:nth-child(2) span {
      color: #744c9e;
    }

    &:nth-child(3) span {
      color: #cd6799;
    }

    &:nth-child(4) span {
      color: #46a1be;
    }
  }
}